<div id="drag-and-drop" phx-hook="WindowDragEvents">
  <h1>
    Hello world!
  </h1>
  <h2>Heading 2</h2>
  <h3>Dragging: <%= @dragging %></h3>
  <form id="upload-form" phx-submit="upload" phx-change="validate">
    <.live_file_input upload={@uploads.files} />
    <button type="submit">Upload</button>
  </form>
  <section>
    <%!-- render each files entry --%>
    <article :for={entry <- @uploads.files.entries}>
      <figure>
	<figcaption>{entry.client_name}</figcaption>
      </figure>

      <%!-- entry.progress will update automatically for in-flight entries --%>
      <progress value={entry.progress} max="100"> {entry.progress}% </progress>

      <%!-- a regular click event whose handler will invoke Phoenix.LiveView.cancel_upload/3 --%>
      <button type="button" phx-click="cancel-upload" phx-value-ref={entry.ref}>&times;</button>

      <%!-- Phoenix.Component.upload_errors/2 returns a list of error atoms --%>
      <p :for={err <- upload_errors(@uploads.files, entry)}>{error_to_string(err)}</p>
    </article>

    <%!-- Phoenix.Component.upload_errors/1 returns a list of error atoms --%>
    <p :for={err <- upload_errors(@uploads.files)}>
      {error_to_string(err)}
    </p>
  </section>
</div>
