/* See the Tailwind configuration guide for advanced usage
   https://tailwindcss.com/docs/configuration */

@import "tailwindcss" source(none);
@source "../css";
@source "../js";
@source "../../lib/sharing_web";

/* A Tailwind plugin that makes "hero-#{ICON}" classes available.
   The heroicons installation itself is managed by your mix.exs. */
@plugin "../vendor/heroicons";

/* Add variants based on LiveView classes. */
@custom-variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@custom-variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@custom-variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);

/* (Ab)use data attributes to store state ONLY needed for the view. */
@custom-variant dragging (&:where([data-dragging=true], [data-dragging=true] *));
@custom-variant hovering (&:where([data-hovering=true], [data-hovering=true] *));
@custom-variant has-uploads (&:where([data-has-uploads], [data-has-uploads] *));
@custom-variant invalid (&:where([data-invalid=true], [data-invalid=true] *));

/* These are variants from my little state library. */
@custom-variant allow-uploads (&:where([data-state-allow_uploads=true], [data-state-allow_uploads=true] *));

/* Make LiveView wrapper divs transparent for layout. */
[data-phx-session], [data-phx-teleported-src] { display: contents }

/* Add some more properties to the default tailwind theme. */
@theme {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Primary background of the theme. */
  --color-base: light-dark(oklch(1 0 0), oklch(0.1935 0.0142 278.61));
  /* Elevated background. */
  --color-elevated: light-dark(oklch(0.9762 0.0041 271.37), oklch(32.4% 0.023 264.2));
  /* Secondary background. */
  --color-surface: light-dark(oklch(0.9513 0.0074 260.73), oklch(37.9% 0.029 266.5));
  /* Tertiary background. */
  --color-overlay: light-dark(oklch(0.8993 0.0164 262.75), oklch(0.4157 0.0324 264.13));
  /* Primary foreground. */
  --color-foreground: light-dark(oklch(0.3244 0.0229 264.18), oklch(0.9513 0.0074 260.73));
  /* Secondary foreground. */
  --color-subtle: light-dark(oklch(0.5756 0.0299 257.07), oklch(0.7061 0.0355 261));
  /* Tertiary foreground. */
  --color-muted: light-dark(oklch(0.8001 0.0364 250.92), oklch(0.4523 0.0352 264.13));
  /* Important information. */
  --color-salient: light-dark(oklch(0.5944 0.0772 254.03), oklch(0.6921 0.0625 332.66));
  /* Information that needs attention. */
  --color-popout: light-dark(oklch(0.7683 0.0749 131.06), oklch(0.8549 0.0892 84.09));
  /* Warning states. */
  --color-critical: oklch(0.6061 0.1206 15.34);  
}

:root {
  --radius: 0.625rem;

  /* Apply standard styles. */
  @apply bg-base text-foreground m-2;
}

.center-content {
  @apply flex flex-col items-center justify-center
}
